# Dependencies
/vendor/

# IDE
/.idea/
/.vscode/

# QA / test / coverage
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phpstan.cache
/coverage/
/build/

# Composer
composer.lock

# OS
.DS_Store
Thumbs.db
